.btn{
    display: inline-block;
    -webkit-appearance: button;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s 
        ease-in-out, background-color .15s 
        ease-in-out, border-color .15s 
        ease-in-out, box-shadow .15s 
        ease-in-out;
    cursor: pointer;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}
.buttonGap{
    gap: 6px;
}
.btn.btn-darkblue{
        color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn.btn-darkblue:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn.btn-gray{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn.btn-gray:hover{
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn.btn-green{
        color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn.btn-green:hover{
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn.btn-lightblue{
        color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.btn.btn-lightblue:hover{
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.btn.btn-yellow{
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn.btn-yellow:hover{
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn.btn-red{
        color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn.btn-red:hover{
        color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.btn.btn-light{
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn.btn-light:hover{
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.btn.btn-black{
        color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.btn.btn-black:hover{
        color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}