
.memberSection{
    width: 49%;
        border: 2px solid #999;
    padding: 15px;
    border-radius: 10px;
    background-color: #333;
    color: white;
    margin-top: 25px;
}
h3.sectionHeading{
    font-size: 25px;
    text-align: center;
    color: white;
}