
.barRight .searchBarInput {
    border: 2px solid rgb(30, 41, 59);
    background-color: #333;
    height: 45px;
    font-size: 15px;
    padding: 12px;
    color: whitesmoke;
    background-color: rgb(19, 23, 32);
    border-radius: 10px;
    width: 300px;
    outline: 0;
}