.background_image {
    background-image: url('../../../../public/background.png');
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}
.backgroundWhite{
    background-color: rgba(0,0, 0, .66);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}