.fancy-button {
    width: 100%;
    cursor: pointer;
    display: inline-block;
    margin: 30px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 17px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    /* box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08); */
}

.fancy-button:before {
    content: "";
    display: inline-block;
    height: 40px;
    position: absolute;
    bottom: -5px;
    left: 30px;
    right: 30px;
    z-index: -1;
    border-radius: 30em;
    -webkit-filter: blur(20px) brightness(0.95);
    filter: blur(20px) brightness(0.95);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 0.3s 
ease-out;
}
.fancy-button span {
    width: 100%;
    display: inline-block;
    padding: 18px 60px;
    border-radius: 50em;
    position: relative;
    z-index: 2;
    will-change: transform, filter;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 0.3s 
ease-out;
    box-shadow: 5px 6px 8px #888888;
    background-color: #06acdc;
    text-align: center;
    font-size: 20px;
}

.fancy-button:hover span {
    -webkit-filter: brightness(1.05) contrast(1.05);
    filter: brightness(1.05) contrast(1.05);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}