.inputContainer{
    height: 75px;
}
input.input_field {
  box-sizing: border-box;
  width: 85%;
  display: flex;
  justify-self: center;
  height: 10px;
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid #ccc;
  background: #333;
  resize: none;
  outline: none;
  font-size: 25px;
  border-radius: 10px;
}
.required{
    color: red;
    margin-left: 5px;
}

.input_label{
    display: flex;
    margin-top: -65px;
    margin-left: 65px;
    display: none;
    font-size: 25px;
}
.input_field:focus{
    border-color: #06acdc;
}
.input_field:focus + .input_label{
    display: flex;
    margin-top: -90px;
    background: linear-gradient(180deg, #fff 50%, whitesmoke 50%);
    width: fit-content;
    color: #06acdc;
    padding: 0px 10px;
}
.input_field:focus::placeholder{
    color: transparent;
}
.darkInput{
    background-color: #333 !important;
}
input.input_lightgray{
    background-color: lightgray !important;
    border: 2px solid #06acdc;
}
label.input_lightgray{
    background-color: lightgray !important;
}
label.input_dark{
    background: linear-gradient(180deg, #666 50%, #333 50%) !important;
    color: white !important;
}
.inputWhite{
    background-color: whitesmoke !important;
}